example/openFrameworks-Info.plist
example/Project.xcconfig
example/bin/exampleDebug.app/
example/example.xcodeproj/
example-parameters/bin/example-parametersDebug.app
*.xcodeproj/
*.app
*.plist
*.xcconfig
example-app/obj/osx/Release/.compiler_flags
*.o
*.d

*.o

*.d
config.make
Makefile

example-app/obj/osx/Release/.compiler_flags

settings/
*.csv
